ul.acf-swatch-list.acf-hl > li {
	float: left;
	margin-right: 2em;
}

ul.acf-swatch-list label {
	display: inline-block;
	font-weight: bold;
	font-size: 13px;
	line-height: 1.4em;
	margin: 0 0 3px;
	text-transform: capitalize;
}

ul.acf-swatch-list label.disabled {
	color: #999;
}

ul.acf-swatch-list label.disabled:hover {
	cursor: default;
}

ul.acf-swatch-list input {
	position: fixed;
	top: -9999px;
	opacity: 0;
}

ul.acf-swatch-list .swatch-toggle {
	display: inline-block;
	position: relative;
	width: 28px !important;
	height: 28px;
	bottom: -8px;
	margin-right: 6px;
	border: 1px solid #eee;
	/*border-radius: 4px;*/
	background-size: cover !important;
	background-image: url('../images/checkers.png');
	box-sizing: border-box;
	overflow: hidden;
	transition: 0.1s all ease-in-out;
	-moz-transition: 0.1s all ease-in-out;
	-webkit-transition: 0.1s all ease-in-out;
}

ul.acf-swatch-list label:hover .swatch-toggle,
ul.acf-swatch-list label:focus .swatch-toggle {
	border-color: #00a0d2;
}

ul.acf-swatch-list label.disabled:hover .swatch-toggle,
ul.acf-swatch-list label.disabled:focus .swatch-toggle {
	border-color: #eee;
}

ul.acf-swatch-list .swatch-color {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

ul.acf-swatch-list .swatch-label {
	display: inline-block;
}

ul.acf-swatch-list.acf-hide-label .swatch-toggle {
	margin-right:0;
	width:40px !important;
	height:40px;
}

ul.acf-swatch-list.acf-hide-label.acf-hl > li {
	margin-right: .5em;
}

ul.acf-swatch-list.acf-hide-label .swatch-label {
	display: none;
}

ul.acf-swatch-list input[type=radio]:checked ~ .swatch-toggle .swatch-color {
	border: 3px solid #1e8cbe;
}

ul.acf-swatch-list input[type=radio]:checked:before {
	display: none;
}